* {
    box-sizing: border-box;
}


body {
    background-color: #23252C;
    padding: 44px 116px;
    font-family: 'Inter'
    
}

.userinfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B21;
    width: 317px;
}

.job-title {
    margin-top: 0;
    color: #F3BF99;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
}

.card {
    background-color: #1A1B21;
    color: white; 
    width: 317px;
    
}

img {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.username {
    color: #FFFFFF;
    margin-bottom: 5px;
    font-size: 25px;
}

.user-website {
    color: #F5F5F5;
    margin-top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */

    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 17px;
}

button {
    width: 115px;
    height: 34px;
    padding: 9px 18px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;   
    border: none;
    background: none; 
}

.email-button {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;            
}

.linkedin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #5093E2;
}

.about-info,
.interests-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    padding: 33px 36px;
    padding-bottom:0; 
     
}

.about-description,
.interests-description {
    margin-top: 0;
}

.interests-info {
    margin-top: 5px;
    margin-bottom: 24px;
    padding-top: 0;
}

.footer > img {
    width: 25px;
    height: 25px;
}

footer {
    display: flex;
    padding: 20px 73px;
    justify-content: space-around;
    background-color: #161619;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}